.bar {
    h1 {
        font-size: 18px;
        width: 140px;
    }
    color: #f00;
    ul {
        list-style-type: none;
        display: inline;
        padding-left: 10px;
    }
    li {
        display: inline;
    }
}

#rthing {
    position: fixed;
    height: 100%;
    margin-left: 15%;
}

#lthing {
    overflow: hidden;
}

#charthaver {
    height: 90%;
    position: relative;
}

#chart {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40px;
    bottom: 10px;
}
