#statfilter {
    position: fixed;
    top: 5px;
    background: white;
}

.grayed {
    color: #999;
}

.removesaved {
    margin-right: 1em;
    :hover {
        text-decoration: none;
        color: #e33;
    }
}

#lthing {
    padding-top: 40px;
    ul {
        list-style-type: none;
        padding-left: 0px;
        margin-left: 10px;
    }
    li {
        padding-left: 0px;
    }
    .active {
        background: #007fff;
        a {
            color: #fff;
        }
    }
    .active.dyx {
        font-weight: bold;
        text-decoration: underline;
    }
}

#rthing {
    position: fixed;
    height: 100%;
    margin-left: 15%;
}

#lthing {
    overflow: hidden;
}

#charthaver {
    height: 90%;
    position: relative;
}

#chart {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40px;
    bottom: 10px;
}

.hide {
    visibility: hidden;
}

.dyx {
    font-size: 75%;
    vertical-align: super;
}


a:hover {
    cursor: pointer;
}

.loader, .loaderror {
    font-size: 2em;
}

.loaderror {
    color: #900;
}

#graphlabels {
    position: fixed;
    top: 0px;
    right: 0px;
    background: white;
    z-index: 1;
}

.loaderbar {
    width: 100%;
    height: 4px;
}

.scrollgroup {
    max-width: 600px;
    overflow-x: scroll;
}
