#statfilter {
    position: fixed;
    top: 5px;
    background: white;
}

#lthing {
    ul {
        margin-top: 40px;
        list-style-type: none;
        padding-left: 0px;
        margin-left: 10px;
    }
    li {
        padding-left: 0px;
    }
    .active {
        background: #007fff;
        a {
            color: #fff;
        }
    }
}

#rthing {
    position: fixed;
    height: 100%;
    margin-left: 15%;
}

#lthing {
    overflow: hidden;
}

#charthaver {
    height: 90%;
    position: relative;
}

#chart {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40px;
    bottom: 10px;
}

.notloading {
    visibility: hidden;
}

.dyx {
    font-size: 75%;
    vertical-align: super;
}

a:hover {
    cursor: pointer;
}

.loader {
    font-size: 2em;
}